body {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color:white;
    justify-content: center;
}

header{
    display: flex;
    justify-content:space-evenly;
}

.logo{
    display: flex;
    background-color:white;
    border-radius: 8px;
    width: 650px;
    height: 50px;
    justify-content:flex-start;
    align-items: center;
}

.img-container{
    display: flex;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    padding: 2px;
}

#name{
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
}

#theme{
    display: flex;
    width: 30px;
    height: 30px;
    :hover{
        cursor: pointer;
    }
}

.img-dark{
    flex: 1;
    border-radius: 100%;
}

.dark-theme{
    background-color: #292929;
}

.options{
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 8px;
    width: 650px;    
    height: 50px;
    justify-content: space-evenly;
    align-items:center;
}

.option{
    display: flex;
    width: 90px;
    height: 25px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 10px;
}

.main-text{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;
    height: 500px;
    justify-content: center;
    background-color: aquamarine;
}

.main-picture{
    display: flex;
    flex: 1;
    width: 200px;
    height: 500px;
    background-color:blueviolet;
}

